.ButtonAddTask {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  width: 60px;
  font-size: 20px;
  padding: 10px;
  position: fixed;
  left: 75%;
  top: 80%;
  border-bottom: 5px solid black;
}

button:hover .ButtonAddTask {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.03em);
}

button:active .ButtonAddTask {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
